include blocks/header
include blocks/menu
include blocks/distribute
include blocks/assort
include blocks/advantages
include blocks/main-items
include blocks/whywe
include blocks/news
include blocks/consultation
include blocks/map
include blocks/footer

<!DOCTYPE html>
html(lang="ru")
head
  meta(charset="UTF-8")
  title Байрамикс

  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
  link(rel="stylesheet" href="css/flickity.min.css")
  link(rel="stylesheet" href="css/main.css")
  meta(name="viewport" content="width=device-width, initial-scale=1")
    
body

  +header()

  +menu()
  
  +distribute()

  +assort()

  +advantages()

  +main-items()

  +whywe()

  +news()

  +consultation()

  +map()

  +footer()

  script(src="js/flickity.pkgd.min.js")
  script(src="js/new-main.js")