.advantages
  margin cell 0
  
.advantages__item
  text-align center
  
  h4
    font-size unit + 2px
    font-weight bold
    color black
    line-height cell*1.5
    margin 0
    
  p
    font-size unit*.75
    line-height cell