.assort__image
  overflow hidden
  
  img
    display block
    max-width 100%
    
.assort__num
  position absolute
  bottom 0
  left 0
  padding unit*.4 unit*.8
  color #fff
  background pink
  font-size unit - 2px
  
.assort__title
  font-size unit + 2px
  line-height cell*2
  
.assort__item:hover .assort__num
  background darken(pink,20%)