.button
  display inline-block
  background #fafafa
  border 1px solid darken(gray,20%)
  border-radius 500px
  padding 0 unit*1.5 0 unit*4
  cursor pointer
  line-height cell*2
  
.button__icon
  display inline-block
  position absolute
  top (unit/2)
  left (unit/2)
  width 32px
  height 32px
  border-radius 50%
  background pink
  float left
  
  buttonIcons = call works clients cart
  
  for icon in buttonIcons
    &.icon-{icon}
      background pink url('../img/icons/btn-'icon'.png') no-repeat center
  

.button__text
  position relative
  display inline-block
  line-height 1.5
  color black
  border-bottom 1px dashed transparent
  
.button:hover .button__text
    border-bottom-color black
  

.button--right
  padding 0 unit*4 0 unit*1.5
  
  .button__icon
    left auto
    right (unit/2)
    float right
    

.button--link
  color pink
  padding 0 unit*1.5 0 unit*4
  
  .button__icon
  
  .button__text
    color pink
    font-weight bold
    font-size unit
    
.button--link:hover
  .button__text
    border-bottom none
    color darken(pink,20%)
    

.button--link.button--right
  padding 0 unit*4 0 unit*1.5
  
  .button__icon
    left auto
    right unit*0.5