.cart-icons
  display flex
  align-items center
  justify-content space-between
  padding 0
  height cell*4
  
  &::before
    content ''
    position absolute
    top 0
    left -15px
    display inline-block
    width 1px
    height 100%
    background gray
    
    +xs()
      display none

.cart__icon
  display inline-block
  vertical-align middle
  width cell*3
  height cell*3
  border-radius 50%
  border 1px solid gray
  cursor pointer
    
  i
    text-style normal
    font 12px 'Verdana'
    font-weight bold
    text-align center
    width cell
    height cell
    line-height cell
    background gray
    color pink
    position absolute
    bottom (cell/2) * -1
    left 50%
    border-radius 50%
    margin-left (cell/2) * -1
    
  
  &:hover
    border 1px solid darken(gray,15%)
    
    i
      background darken(gray,5%)
    
  cartIcons = cart fav
  
  for icon in cartIcons
    &.icon-{icon}
      background #fff url('../img/icons/header-'icon'.png') no-repeat center