.consultation
  display block
  background pink url('../img/bubble-pattern.png') 0px 80px
  padding cell
  margin-bottom cell*2
  border 2px solid pink
  box-shadow 0px 0px 0px 2px #fff inset
  text-align center
  
  color #fff
  line-height cell*2
  font-size unit + 2px
  font-weight 500
  
  span
    display inline-block
    vertical-align middle
    
  .consultation__button
    color pink
    background #fff
    padding unit*.2 cell*2
    margin 0 unit
    border-radius unit*.5
    box-shadow 0px 4px 0px darken(pink,30%)
    cursor pointer
    
    &:active
      top 4px
      box-shadow 0px 0px 0px transparent