.distribute
  margin cell 0
  
  &__buttons
    display block
    
    &::before
      content ''
      display block
      position absolute
      height cell*2
      top cell * -2
      left 0
      width 100%
      background url('../img/distribute-divider.png') no-repeat center
    
    .tar
      text-align right
      
      +xs()
        text-align center
    
    +xs()
      text-align center
      
    .button
      margin-bottom cell*.5
      


  &__offers
    padding cell
    border 1px dashed darken(gray,20%)
    margin-top cell * .5
    margin-bottom cell*2
    text-align right
    height cell*16
      
    &.offers--privates
      background #fff url('../img/privates.png') no-repeat 0 100%
      background-size auto auto
      
      +xs()
        background #fff
        
      +sm()
        background-size 50% auto
      
    &.offers--prorabs
      background #fff url('../img/prorabs.png') no-repeat 0 100%
      background-size auto auto
      
      +xs()
        background #fff
        
      +sm()
        background-size 50% auto

    +xs()
      height auto
      background #fff
    

  &__list
    display inline-block
    padding 0
    margin 0
    list-style none
    text-align center
    width 50%
    padding-left cell
    border-left 1px dashed darken(gray,20%)
    height 100%
    
    +xs()
      width 100%
      border none
      padding 0
    
    ul
      list-style none
      padding 0
      margin 0
      height 100%
      display flex
      align-items center
      justify-content center
      flex-direction column
    
    li
      line-height cell
      font-size unit - 2px
      font-weight 100
      
      +md()
        font-size unit*.75
        
      +lg()
        font-size unit - 2px
      
      &::after
        content ''
        display block
        margin 0 auto
        height cell
        width cell*4
        background url('../img/dots-divider.png') no-repeat center
      
      &:last-child
        margin-bottom 0
        
        &::after
          content none
    

  &__title
    position absolute
    top cell * -0.5
    left 0
    text-align center
    width 100%
    
    h3
      display inline-block
      height cell
      line-height cell
      margin 0
      font-size unit + 2px
      background #fff
      padding 0 cell*1.5
      font-weight bold
      color pink
    