.footer
  background gray
  padding cell 0 0 0
  border-top 1px solid darken(gray,15%)
  margin-top 0
  

.footer__menu
  display block
  
  h4
    margin 0
    line-height cell
    font unit+2px 'Verdana'
    font-weight bold

  ul
    margin 0
    padding 0
    list-style none
    list-style-position inside
    margin-top cell*0.5
    
    +xs()
      margin-top 0
      margin-bottom cell
    
    li
      line-height cell*1.5
      font-size unit - 2px
      padding-left unit - 2px

      &::before
        content ''
        display inline-block
        position absolute
        left 0
        top unit
        width (unit/2) - 2px 
        height (unit/2) - 2px
        background pink
        

.footer__social
  margin-bottom cell*2
  
  +sm()
    margin-bottom cell
    margin-top cell
    padding-top cell
    border-top 1px solid darken(gray,10%)
  
  +md()
    margin-bottom cell*2
    margin-top 0
    padding-top 0
    border none

  ul
    margin 0
    padding 0
    list-style none
    display flex
    align-items center
    justify-content space-between
    
    li
      display inline-block
      width cell*2
      height cell*2
      
    a
      display inline-block
      width cell*2
      height cell*2
      border-radius 50%
      box-shadow 0px 0px 0px 0px transparent
      transition all .3s ease
      
      socialIcons = vk insta youtube ok fb tw
      
      for icon in socialIcons
        &.social--{icon}
          background pink url('../img/icons/social-' + icon + '.png') no-repeat center
          
      &:hover
        background-color darken(pink,30%)
        box-shadow 0px 0px 0px 6px rgba(pink,20%)
        

.footer__description
  margin cell 0
  
  p
    margin 0
    padding 0
    line-height cell
    font unit 'Verdana'
    color black
    

.footer__bottom
  margin-top cell
  border-top 1px solid darken(gray,10%)
  line-height cell*2
  
  +xs()
    text-align center
    
  .tar
    +xs()
      text-align center