.heading
  display block
  height cell*2
  margin-top cell
  
  &:before
    content ''
    display inline-block
    position absolute
    left 0
    bottom 0
    background gray
    width 100%
    height 75%
    
  &:after
    content ''
    display inline-block
    position absolute
    width 0
    right 0
    bottom 0
    right 0
    border cell*0.75 solid #fff
    border-left-color gray
    border-bottom-color gray
    z-index 3
    


  
.heading__title
  display inline-block
  background pink
  color #fff
  height 100%
  padding (unit/2) unit
  font unit 'Verdana'
  // font-weight bold
  z-index 5
  line-height cell*1.4
  
  +xs()
    padding (unit/2) unit*.25
    font-size unit - 2px
    font-weight bold
  
  &::after
    content ''
    display inline-block
    position absolute
    top 0
    right cell * -2
    width 0
    height 0
    border cell solid transparent
    border-left-color pink
    border-bottom-color pink
    

.heading__helper
  position absolute
  bottom 0
  right cell*1.5 + unit
  height cell*1.5
  line-height cell*1.5
  z-index 5
  