.header
  display block
  font-size 14px
  
.header__topline
  height cell*2
  line-height (cell*2) - 2px
  margin-bottom cell
  
  +xs()
    font-size unit*0.75
    height cell*2
    line-height cell
  
  .container::after
    content ''
    position absolute
    height 1px
    background darken(gray,10%)
    left 15px
    right 15px
  
  *
    vertical-align middle
  
.header__nav
  height cell*2
  
  ul
    margin 0
    padding 0
    list-style none
    display block
    text-align right
    
    +xs()
      display flex
      align-items center
      justify-content space-between
      border-bottom 1px solid gray
    
    li
      display inline-block
      line-height cell*2
      margin-left unit
      
      +xs()
        margin 0
        padding-top cell*0.5
        line-height cell
        
      +sm()
        margin-left unit*.5
      


.header__logo
  display block
  height cell*4
  background url('../img/logo.png') no-repeat 0px 0px

  +xs()
    margin-bottom cell
    background-size 383px auto
  
  +width-below(383px)
    background-size 100% auto
    
  +sm()
    margin-bottom cell
    background-size 100% auto

  span
    position absolute
    bottom -4px
    right 0
    width 76%
    color black
    
    +xs()
      width 75%
      bottom 0
      
    +md()
      font-size unit*.75
      bottom unit*.75
      
    +lg()
      font-size unit - 2px
      bottom -4px
    

.header__contacts
  height cell*4
  display flex
  align-items center
  justify-content space-between
  padding 0 (unit/2)
  border-left 1px solid gray
  
  +xs()
    display block
    height auto
    border none
    text-align center
    

  .button
    +xs()
      margin-top cell
      text-align center

.header__contact
  display inline-block
  vertical-align middle
  
  a
    font-size 24px
    display inline-block
    vertical-align middle
    
    +md()
      font-size unit + 2px
    
    +lg()
      font-size cell
    
  span
    display inline-block
    vertical-align middle