i.icon
  display inline-block
  vertical-align middle
  width cell
  height cell
  margin-right (unit/4)
  
  simpleIcons = user delivery call time
  
  for icon in simpleIcons
    &.icon-{icon}
      background url('../img/icons/icon-'icon'.png') no-repeat center