.item-label
  position absolute
  top unit*.5
  left unit*-.5
  background darken(gray,5%)
  color pink
  text-align center
  display inline-block
  padding unit*.4 unit*.8
  
  &::after
    content ''
    display inline-block
    position absolute
    left 0
    bottom unit*-.5
    width 0
    height 0
    border unit*.25 solid transparent
    border-top-color darken(gray,15%)
    border-right-color darken(gray,15%)