.menu
  list-style none
  background pink
  padding 0 unit
  
  +xs()
    height cell*2
    overflow hidden
    padding 0
  
  li
    display inline-block
    
    +xs()
      display block
      
  li:first-child
    display none
    
    &::after
      content ''
      display inline-block
      position absolute
      top cell
      right cell
      width 0
      height 0
      border 8px solid transparent
      border-top-color #fff
      margin -4px -8px 0 0
      transition all .3s ease
    
    +xs()
      display block
  
.menu__item
  display inline-block
  height cell*2
  padding 0 (unit/2)
  color #fff
  line-height cell*2
  font-size 14px
  background transparent
  
  +md()
    font-size unit*.75
    padding 0 unit*.25
    
  +lg()
    font-size 14px
    padding 0 (unit/2)
    
  
  &:hover
    background lighten(pink,10%)
    color #fff
    
    +xs()
      background lighten(pink,20%)
  

  +xs()
    display block
    padding 0 unit
    

    

.menu-cont
  background darken(gray,5%)
  margin cell 0 0 0
  height cell*2
  
  +xs()
    height cell*2
    
  +sm()
    height cell*4
    
  +md()
    height cell*2
  

.menu__mobile-switcher
  display none
  
  +xs()
    display block
    position absolute
    top -4px
    left 0
    z-index 110
    padding 0
    margin 0
    line-height 0
    width 100%
    height cell*2
    opacity 0
    cursor pointer
    

.menu__mobile-switcher:checked
  & + .menu
    height auto
    z-index 100
    
    li:first-child::after
      border-top-color transparent
      border-bottom-color #fff
      top 12px