.news-preview
  margin cell 0
  
  a
    font unit - 2px 'Verdana'
    line-height cell
    
  &__link
    height cell*3
    
    +xs()
      height auto
    
  &__image
    border 1px solid gray
    height cell*6
    overflow hidden
    object-fit cover
    line-height 1
    font-size 0px
    
    +xs()
      height cell*8
    
    img
      display block
      max-width 100%
      
    
  &__time
    height cell
    font unit - 4px 'Verdana'
    line-height cell
    color #444
    font-weight bold