.sl-arrows
  user-select none

.sl-arrow
  width cell*1.5
  height cell*1.5
  background pink
  display inline-block
  margin-left unit*.5
  cursor pointer
  transition all .3s ease
  
  &:hover
    background darken(pink,20%)
    
  &.arrow-left::before
  &.arrow-right::before
    content ''
    position absolute
    left cell*.2
    top cell*.4
    display block
    width 0
    height 0
    border unit*.5 solid transparent
    border-right-color #fff
    
  &.arrow-right::before
    border-right-color transparent
    border-left-color #fff
    left auto
    right cell*.2
    

.slider-popular
.slider-new
  overflow hidden