.whywe
  display block
  
.whywe__item
  text-align center
  margin cell 0 cell*2 0
  
.whywe__image
  margin-bottom 0
  
.whywe__title
  line-height cell*2
  font-size unit + 2px
  font-weight bold
  color black
  
.whywe__description
  font-size unit - 2px
  font-weight normal
  line-height cell
  padding 0 cell