mixin advantages__item(image, title, description)
  .advantages__item
    img(src=image, alt=title)
    h4= title
    p!= description


mixin advantages()
  .advantages
    .container
      .row
        .col-xs-12
          h2 Преимущества продукции <a href="">Bayramix</a>, <a href="">Prorab</a> и <a href="">Decorazza</a>

      .row
        .col-xs-12.col-sm-4
          +advantages__item('img/icons/adv-time.png', 'Долговечность', 'Наша продукция устойчива к воздействию перепадов температур, влажности, ультрафиолетовому излучению, благодаря чему максимально долго держится, не меняя при этом своего оттенка')
            
        .col-xs-12.col-sm-4
          +advantages__item('img/icons/adv-price.png', 'Экономичность', 'Покупая российскую продукцию, вы избегаете дополнительных затрат без потери в качестве')
            
        .col-xs-12.col-sm-4
          +advantages__item('img/icons/adv-safe.png', 'Безопасность', 'Все наши продукты проходят <a href="">государственную регистрацию</a> поэтому безопасны для внутренней и наружной отделки помещений.<br />В том числе для дошкольных и лечебно- оздоровительных помещений')