mixin assort__item(title, num)

  if num
    - var number = num + " товаров"

  a(href="").assort__item
    .assort__image
      img(src="http://placehold.it/400x300", alt="")
      if num
        .assort__num
          span= number
    .assort__title= title


mixin assort()
  .container
    .row
      .col-xs-12
        h2 Ассортимент продукции

    .row
      .col-xs-6.col-sm-4.col-md-2
        +assort__item("Штукатурка", 500)

      .col-xs-6.col-sm-4.col-md-2
        +assort__item("Обои", 500)

      .col-xs-6.col-sm-4.col-md-2
        +assort__item("Лаки", 500)

      .col-xs-6.col-sm-4.col-md-2
        +assort__item("Краски", 500)

      .col-xs-6.col-sm-4.col-md-2
        +assort__item("Клей", 500)

      .col-xs-6.col-sm-4.col-md-2
        +assort__item("Прочее", false)

