mixin button(icon, text, link=true, left=true)

  - var direction = left ? "" : "button--right";

  if link
    a(href="#" class=direction).button.button--link
      .button__icon(class="icon-" + icon)
      .button__text= text

  else
    a.button(class=direction)
      .button__icon(class="icon-" + icon)
      .button__text= text
