mixin consultation()
    .container
      .row
        .col-xs-12
          h2 Нужна консультация?

      .row
        .col-xs-12.col-md-8.col-md-offset-2
          .consultation
            span Звоните +7 (495) 123-45-67 или
            span.consultation__button Закажите звонок