include button

mixin distribute()
  .distribute
    .container
      .row
        .col-xs-12
          h2 Официальный дистрибьютор<br /> торговых марок <a href="">Bayramix</a>, <a href="">Prorab</a> и <a href="">Decorazza</a> предлагает

      .row
        .col-sm-12.col-md-6
          .distribute__offers.offers--privates
            .distribute__title
              h3 Частным покупателям
            
            .distribute__list
              ul
                li Сертифицированные строительные материалы
                li Покупку в кредит
                li Отделочные работы
                li <a href="">Зарегистрируйтесь</a> на сайте<br />и получите <b>скидку 5%</b><br />на мраморную штукатурку


        .col-sm-12.col-md-6
          .distribute__offers.offers--prorabs
            .distribute__title
              h3 Прорабам и дизайнерам

            .distribute__list
              ul
                li Доставку в течение суток<br />при наличии товара
                li Консультацию специалиста
                li Образцы метариалов
                li Систему скидок<br />и бонусные программы
                li Отсрочку платежа<br />для постоянных клиентов


      .distribute__buttons
        .row
          .col-xs-12.col-sm-6.col-md-4.col-lg-3.col-sm-offset-0.col-md-offset-2.col-lg-offset-3.tar
            +button('works', 'Наши работы', true, true)

          .col-xs-12prorab.col-sm-6.col-md-4.col-lg-3
            +button('clients', 'Наши клиенты', true, false)