mixin footer()
  footer.footer
    .container
      .row
        .col-md-3.col-sm-4
          nav.footer__menu
            h4 Продукция
            ul
              li: a(href="#") Фасадные материалы
              li: a(href="#") Жидкие обои
              li: a(href="#") Краски
              li: a(href="#") Инструменты
              li: a(href="#") Продукция Bayramix
              li: a(href="#") Продукция Prorab
              li: a(href="#") Продукция Decorazza
              li: a(href="#") Продукция Quatra Parete

        .col-md-3.col-sm-4
          nav.footer__menu
            h4 Покупателю
            ul
              li: a(href="#") Мои заказы
              li: a(href="#") Примеры работ
              li: a(href="#") Серитификаты
              li: a(href="#") Гарантия на товар
              li: a(href="#") Обучение
              li: a(href="#") Кредит
              li: a(href="#") Заказ отделочных работ

        .col-md-2.col-sm-4
          nav.footer__menu
            h4 О компании
            ul
              li: a(href="#") О компании
              li: a(href="#") Блог
              li: a(href="#") Новости
              li: a(href="#") Акции
              li: a(href="#") Контакты

        .col-md-4.col-sm-12
          .footer__social
            ul
              li: a.social--vk(href="#")
              li: a.social--insta(href="#")
              li: a.social--youtube(href="#")
              li: a.social--ok(href="#")
              li: a.social--fb(href="#")
              li: a.social--tw(href="#")

          .footer__description
            p <strong>Bayramix.su</strong> - продукция от официального дистрибьютора

          .footer__description
            address
              p <b>г. Москва, ул. Рябиновая 44, оф.501</b> <br /> Пн-Пт с 9.00 до 18.00

      
      .footer__bottom
        .row
          .col-xs-12.col-sm-6
            span © 2016 — 
            a(href="/") bayramix.su

          .col-xs-12.col-sm-6.tar
            span Разработка и продвижение: 
            a(targe="_blank" href="http://color-it.ru") Color-IT
