include icon
include button
include cart

mixin header()
  header.header
    .header__topline
      .container
        .row
          .col-md-3.col-sm-3.col-xs-5
            +icon('user')
            a(href="") Авторизация
          
          .col-md-5.col-sm-4.col-xs-7
            +icon('delivery')
            span Доставка по всей России

          .col-md-4.col-sm-5.col-xs-12
            nav.header__nav
              ul
                li: a(href="") Помощь
                li: a(href="") Доставка
                li: a(href="") Способы оплаты

                
    div
      .container
        .row
          .col-md-4.col-sm-6.col-sm-offset-3.col-md-offset-0
            a(href="/").header__logo
              span Продукция Байрамикс<br/>от официального дистрибьютора


          .col-md-6.col-sm-9
            .header__contacts

              .header__contact
                +icon('call')
                a(href="") +7 (495) 661-20-18
                br
                +icon('time')
                span Пн.-Пт.: 9:00 – 18:00

              +button('call', 'Заказать звонок', false)

          .col-xs-8.col-sm-3.col-md-2.col-xs-offset-2.col-sm-offset-0
            .cart-icons
              +cart__icon('cart', 5)
              +cart__icon('fav' , 0)