include button
include heading
include sl-arrows
include item-label

mixin main-items()
  .container
    .row
      .col-xs-12
        +heading('Популярные товары')
        +heading__helper()
          #sl-popular-arrows
            +sl-arrows()

    .row.slider-popular
      .col-xs-12.col-sm-6.col-md-3.row-slider__item
        .dummy-vert
          +button('cart','В корзину')
          +item-label('-10%')
          
      .col-xs-12.col-sm-6.col-md-3.row-slider__item
        .dummy-vert
          +button('cart','В корзину')
          +item-label('-10%')
          
      .col-xs-12.col-sm-6.col-md-3.row-slider__item
        .dummy-vert
          +button('cart','В корзину')
          +item-label('-10%')
          
      .col-xs-12.col-sm-6.col-md-3.row-slider__item
        .dummy-vert
          +button('cart','В корзину')
          +item-label('-10%')
          
      .col-xs-12.col-sm-6.col-md-3.row-slider__item
        .dummy-vert
          +button('cart','В корзину')
          +item-label('-10%')

  .container
    hr

  .container
    .row
      .col-xs-12
        +heading('Новые товары')
        +heading__helper()
          #sl-new-arrows
            +sl-arrows()

    .row.slider-new
      .col-xs-12.col-sm-6.col-md-3.row-slider__item
        .dummy-vert
          +button('cart','В корзину')
          +item-label('-10%')
          
      .col-xs-12.col-sm-6.col-md-3.row-slider__item
        .dummy-vert
          +button('cart','В корзину')
          +item-label('-10%')
          
      .col-xs-12.col-sm-6.col-md-3.row-slider__item
        .dummy-vert
          +button('cart','В корзину')
          +item-label('-10%')
          
      .col-xs-12.col-sm-6.col-md-3.row-slider__item
        .dummy-vert
          +button('cart','В корзину')
          +item-label('-10%')

      .col-xs-12.col-sm-6.col-md-3.row-slider__item
        .dummy-vert
          +button('cart','В корзину')
          +item-label('-10%')