mixin map()
  .main-map#mainmap

  script.
    function initMainMap() {

      var map = new google.maps.Map(document.getElementById('mainmap'), {
        center: {lat: 55.675143, lng: 37.434921},
        zoom: 17,
        zoomControl: true,
        scaleControl: false,
        scrollwheel: false,
        disableDoubleClickZoom: false,
      });

      var marker = new google.maps.Marker({
        position: {lat: 55.675143, lng: 37.434921},
        map: map
      });

    }

  script(async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgtOL2MbAvvg3CM8d82RxAMok9QVT6UpI&callback=initMainMap")