mixin menu()
  .menu-cont
    .container
      nav
        input(type="checkbox").menu__mobile-switcher
        ul.menu
          li: span.menu__item Каталог
          li: a.menu__item(href="") Фасадные материалы
          li: a.menu__item(href="") Продукция Bayramix
          li: a.menu__item(href="") Продукция Prorab
          li: a.menu__item(href="") Продукция Decorazza
          li: a.menu__item(href="") Жидкие обои
          li: a.menu__item(href="") Инструменты
          li: a.menu__item(href="") Блог
          li: a.menu__item(href="") Контакты