mixin news-preview(title)
    .news-preview
      a(href="#")
        .news-preview__image
          img(src='http://placehold.it/640x360', alt=title)
      .news-preview__time 23.09.2016
      .news-preview__link
        a(href="#")= title