include heading
include news-preview

mixin news()
  .container
    .row
      .col-xs-12.col-md-6
        .row
          .col-xs-12
            +heading('Новости')
            +heading__helper()
              a(href="#") Все новости

        .row
          .col-xs-12.col-sm-6
            +news-preview("В Москве ликвидирован нелегальный рынок строительных материалов")
              
          .col-xs-12.col-sm-6
            +news-preview("Москва вошла в мировой ТОП-3 лидеров строительного рынка")
              
          .col-xs-12.col-sm-6
            +news-preview("Борьба с граффити на фасадах")
              
          .col-xs-12.col-sm-6
            +news-preview("Москва вошла в мировой ТОП-3 лидеров строительного рынка")
              
      
      
      .col-xs-12.col-md-6
        .row
          .col-xs-12
            +heading('Полезные статьи')
            +heading__helper()
              a(href="#") Все статьи

        .row
          .col-xs-12.col-sm-6
            +news-preview("В Москве ликвидирован нелегальный рынок строительных материалов")
              
          .col-xs-12.col-sm-6
            +news-preview("Москва вошла в мировой ТОП-3 лидеров строительного рынка")
              
          .col-xs-12.col-sm-6
            +news-preview("Борьба с граффити на фасадах")
              
          .col-xs-12.col-sm-6
            +news-preview("Москва вошла в мировой ТОП-3 лидеров строительного рынка")