- var data=[{img:"complex",title:"Комплекс товаров",description:"Отдел комплектации строительных объектов поможет подобрать необходимую продукцию для решения Вашей задачи"},{img:"specialist",title:"Выезд специалиста",description:"Отдел комплектации строительных объектов поможет подобрать необходимую продукцию для решения Вашей задачи"},{img:"delivery",title:"Быстрая доставка",description:"Отдел комплектации строительных объектов поможет подобрать необходимую продукцию для решения Вашей задачи"},{img:"works",title:"Отделочные работы",description:"Отдел комплектации строительных объектов поможет подобрать необходимую продукцию для решения Вашей задачи"},{img:"guarantee",title:"Гарантия на товар",description:"Отдел комплектации строительных объектов поможет подобрать необходимую продукцию для решения Вашей задачи"},{img:"sales",title:"Скидки",description:"Отдел комплектации строительных объектов поможет подобрать необходимую продукцию для решения Вашей задачи"}];

mixin whywe__item(item)
  .whywe__item
    .whywe__image
      img(src='img/whywe/' + item.img + '.png', alt=title)
    .whywe__title= item.title
    .whywe__text= item.description

mixin whywe()
  .container
    .row
      .col-xs-12
        h2 Почему именно мы?

    .row
      each item in data
        .col-xs-12.col-sm-6.col-md-4
          +whywe__item(item)