*
  position relative

body
html
  padding 0
  margin 0
  width 100%
  width 100vw

body
  font-family 'Verdana'
  font-size 16px
  line-height 1.5
  color black
  min-height 100vh
  
a
  color pink
  font-family 'Verdana'
  
  &:hover
    color darken(pink,30%);
    
h2
  display block
  text-align center
  line-height cell*2
  font-size cell
  color black
  font-weight bold
  margin cell 0
  
  +xs()
    font-size cell*.75
    line-height cell
    
.tar
  text-align right
    
.dummy
  display block
  height cell*4
  background darken(gray,10%)
  margin-bottom cell
  
.dummy-vert
  display block
  height cell*12
  background #fff
  text-align center
  border 1px solid darken(gray,10%)
  border-radius 4px
  margin cell auto
  width 90%
  padding-top cell*9